.row {
    color: #fff;
    
}

.colored-box {
    height: 50px;
    border: 1px solid #fff;
    background-color: #006eff;
    padding: 7px;
}

.colored-box > .row {
    height: 100%;
}

.colored-box-b {
    height: 100%;
    background-color: #00e552;
    border: 1px solid #006eff;
}

.text-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

